{% load static%}
{% load bootstrap4 %} 
{% bootstrap_css %}
<!-- <a href="{{ request.META.HTTP_REFERER }}" class="back">back</a> <br> -->
<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <form action="" method="post" class="user-update">
        {% csrf_token%}
        {{form.as_p}}
        {% buttons %}
        <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
        {% endbuttons %}
         <br/>
        <a href="{{ request.META.HTTP_REFERER }}" class="back">Sign In</a> <br>

    </form>
    
    <div class="col-md-2"></div>
    </div>
</div>