{% extends "booking/base.html" %}
{% load static%}
{% load crispy_forms_tags %}
<!-- {% include 'booking/login.html'%} <br> -->
<!-- <a href="{{ request.META.HTTP_REFERER }}" class="back">back</a> <br> -->
<style>
    .grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
</style>
<div class="grid-container">
    <div></div>
    <form action="" method="post" class="user-update">
        {% csrf_token%}
        {{form.as_p}}
        <button type="submit"><span class="spa" > Submit</span></button> <a href="{% url 'login' %}">sign in</a>
    </form>
    <div></div>
</div>